#loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.96) url(loader2.gif) no-repeat center center !important;
    z-index: 10000;
}

#loader>#txt {
    font-size: 23px;
    margin-left: 23% !important;
    margin-top: 18% !important;
}

@media screen and (min-width: 800px) {
    #megblock,
    #selectedrow {
        width: 100%;
    }
    #deptchoice {
        width: 19%;
    }
    #zonechoice {
        width: 19%;
    }
}

@media screen and (max-width: 800px) {
    #megblock,
    #selectedrow {
        width: 350%;
    }
    #fileformatmodal {
        margin-top: 5%;
    }
    #deptchoice {
        width: 70%;
    }
    #zonechoice {
        width: 70%;
    }
}