#loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.95) url(loader2.gif) no-repeat center center !important;
    z-index: 10000;
}

#loader>#txt {
    font-size: 23px;
    font-family: "Times New Roman", Times, serif;
    margin-left: 43% !important;
    margin-top: 18% !important;
}